 html {
      overflow: scroll;
      overflow-x: hidden;
    }
    ::-webkit-scrollbar {
      width: 0; /* remove scrollbar space */
      background: transparent; /* to make scrollbar invisible */
    }
    ::-webkit-scrollbar-thumb {
      background: transparent;
    }

    ::selection {
      /* Change highlight background color */
      background: 	#f2f20a;
      /* Change highlight text color */
    }

    body{
      background-image:url('https://static.tumblr.com/12fa0f315d290bb1df15954e7a68536d/67u0lkf/NHgmnojyf/tumblr_static_tumblr_mmm5k4yecc1qmf2zwo1_r1_500.png');
      background-repeat:repeat
    }

    h1{
      font-family: "Audiowide", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size:90px;
      margin-top:0;
      text-align:center;
      color:white;
    }


    h3{
      font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      color:blue;
      text-align:center;
    }

    h4{
      font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      color:blue;
      text-align:center;
    }

    .text {
      font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      color:blue;
      text-align:center;
    }

    .text2 {
      font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      color:blue;
      text-align:center;
    }
    .base{
      border:solid;
      width: 500px;
      height:fit-content;
      border-radius:16px; 
      padding:16px;
      border-color:#fff;
      background-color: rgba(0, 0, 0, 0.125);
      flex-shrink: 0;
      /* @nokira This should not be applied. If you want to position the window, apply the CSS to the top div element, for example "journalWindow", not the inside content, or it would create bugs when detecting the clicks. */
      /* */
      backdrop-filter: blur(50px);
      padding-top:2px;
      z-Index:1;
    }

    .base3{
      border:solid;
      width: fit-content;
      height:fit-content;
      border-radius:16px; 
      padding:16px;
      border-color:#fff;
      background-color: rgba(0, 0, 0, 0.125);
      flex-shrink: 0;
      /* @nokira This should not be applied. If you want to position the window, apply the CSS to the top div element, for example "journalWindow", not the inside content, or it would create bugs when detecting the clicks. */
      /* */
      backdrop-filter: blur(50px);
      padding-top:2px;
      z-Index:1;
    }

    .base1{
      border:solid;
      width: 500px;
      height:fit-content;
      border-radius:16px; 
      padding:16px;
      border-color:#fff;
      background-image:url('https://cdn.phototourl.com/free/2026-07-14-2b1a5669-2c84-469f-aaef-5894c5d5ed8e.jpg');
      background-size:cover;
      padding-top:2px;
      
    }
    .base2{
      border:solid;
      width: 700px;
      height:600px;
      padding:none;
      border:none;
      background-image:url('https://files.catbox.moe/aspie4.png');
      background-size:cover;
      padding-top:2px;
      flex-shrink: 0;
    }

    .info {
      position: absolute;
      top: 0;                  
      left: 0; 
      width: 100%; 
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.125);
      color: #fff;
      gap: 3px;
      flex-direction: row; 
      display: flex;
      justify-content: space-between; 
      align-items: center;
      margin-bottom:30px;         
     

    }

    

    #welcome{
      position:absolute;
      display: flex;        
      top: 80px; 
      left: 80px; 
      right:80px;
      bottom:80px;
      margin: auto;
      
    }

    #mapWindow{
      position:absolute;
      display: flex;        
      top: 80px; 
      left: 80px; 
      right:80px;
      bottom:80px;
      margin: auto;
      display: none; 
      
    }

    #journalWindow{
      position:absolute;
      top: 80px; 
      left: 80px; 
      right:80px;
      bottom:80px;
      display: none;
      
    }

    .symbole{
      display: flex;
      justify-content: flex-start; /* Verteilt die Bilder gleichmäßig mit Abstand */
      gap: 1px;
      margin: 0;
      padding: 0;
    }

   .symbolemusic{
      display: flex;
      justify-content: flex-start; /* Verteilt die Bilder gleichmäßig mit Abstand */
      gap: 1px;
      margin: 0;
      padding: 0;
      margin-left:80px;
    }
  .symbolemap{
      display: flex;
      justify-content: flex-start; /* Verteilt die Bilder gleichmäßig mit Abstand */
      gap: 1px;
      margin: 0;
      padding: 0;
      
    }


    #desktopApps{
    padding-top: 64px;
    padding-left: 16px;
    }

    .icon.selected {
    border: 7px double #f2f20a;  
    border-radius:16px;

    }
    .add-note-btn{
    background-image: url('https://files.catbox.moe/3xoizm.jpg');
    background-size: cover; /* Passt das Bild an die Button-Größe an */
    border-radius:5px;
    height:40px;
    width:100px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;       
    outline: none; 
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    

    }
    #noteDialog{
    border-radius: 16px;
    border: 2px solid #fff;       
    outline: none;
    background-image: url('https://cdn.phototourl.com/free/2026-07-14-f1b808db-d3e0-4061-92a5-534fd8854a6a.jpg');
    background-size: cover;
    width:300px;
    height:200px;        
    
    }
   .w3_button_w3_display_left{
    background-image: url('https://files.catbox.moe/x982uc.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;        
    float: left;
   }

   .w3_button_w3_display_right{
    background-image: url('https://files.catbox.moe/c39hwt.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    float: right;

   }
    header{
    position: relative;
    width: 100%;
    display: block;}

    .close-btn{
    background-image: url('https://cdn.phototourl.com/free/2026-07-14-8fdf0b60-b81d-4064-b15e-c02382f7431b.jpg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    position: absolute;
    top: 0;
    right: 0;
    
    }
    .save-btn{
    background-image: url('https://cdn.phototourl.com/free/2026-07-14-d6e22e70-e434-43b2-ae21-55e41308887e.jpg');
    background-size: cover;
    width: 80px;
    height: 35px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    float:right;
    }

    .cancel-btn{
    background-image: url('https://cdn.phototourl.com/free/2026-07-14-ada5051e-6707-4925-ae8a-13b5a4ab7462.jpg');
    background-size: cover;
    width: 80px;
    height: 35px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    }
    .dialog-header {
    position: relative;
    width: 100%;
    
    }


   #noteContent{
    width:290px  !important;
    height:80px  !important;
     display: block;
    margin: 15px auto !important; 
    text-align: center;
    border-radius:6px;
    background-color:#ffebef;
   }

   .dialog-title{
    font-family:Tangerine ;
   }

   .edit-btn{
    background-image: url('https://cdn.phototourl.com/free/2026-07-14-12452318-701b-40ca-947b-87d7fa72807a.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    left:5px;
    position: absolute;   
    bottom: 5px;       

   }
   .delete-btn{
    background-image: url('https://i.postimg.cc/ZqHb5XJX/Buttons-for-website-(2).jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    right:5px;
    position: absolute;   
    bottom: 5px;       

   }
   .note-card{
    background-image:url('https://github.com/253-Mathilde/My-first-OS/blob/main/Website%20OS.jpg?raw=true');
    border-radius:16px;
    width:200px;
    height:80px;
    margin:15px;
    position: relative;
    

   }
   .note-titel{
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
   }
   #notesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
    gap: 15px; /* Abstand zwischen den Karten */
   }

   #journalWindowheader{
    size: 30%; 
    user-select:none;
   }
   #journalclose{
    user-select:none;
   }
   #journalopen{
    user-select:none;
   }
   #welcomeheader{
    user-select:none;
   }
   #welcomeclose{
    user-select:none;
   }
   #welcomeopen{
    user-select:none;
   }
  
 .search_background {
  position: fixed;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width:400px;
 }

 .search_background:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
 }

 .search {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95); 
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
 }
 .search_input {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 8px;
  font-size: 16px;
  font-family: inherit;
  width:380px;
 }

 #musicWindow{
      position:absolute;
      top: 80px; 
      left: 80px; 
      right:80px;
      bottom:80px;
      display: none;
      
    }

    #desktopApps{
        background-color: rgba(256, 256, 256, 0.125);
        border-radius:16px;
        width: fit-content;
        height:fit-content;
        margin-top:80px;
        padding-top: 0px;
        padding-left:0;
    }


     :root {
     --dreh-dauer: 50s; 
     }
    .CD{
       position:absolute;
       top:-5px;
       margin-left:75px;
     
       animation: flacheDrehung var(--dreh-dauer) linear infinite;
    }
     @keyframes flacheDrehung {
     from {
     transform: rotate(0deg);
     }
      to {
     transform: rotate(360deg);
       }
      }
       

.musicslidesright{
    background-image: url('https://files.catbox.moe/dj5c1v.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    float: right;
    margin-right:30px;
}
.musicslidesleft{
    background-image: url('https://files.catbox.moe/k2j1zv.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius:6px;
    border: 2px solid #fff;       
    outline: none;  
    float: left;
    margin-left:80px;
}
 #musicWindowheader{
    user-select:none;
    position: relative;
    z-index: 10;
   }
   #musicclose{
    user-select:none;
    position: relative;
    z-index: 10;
   }
   #musicopen{
    user-select:none;
    position: relative;
    z-index: 10;
   }

.loader{
    position:fixed;
    z-Index:99;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loader.hidden{
    animation: fadeOut 100s ease  forwards;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
   100%{
    opacity: 0;
    visibility: hidden;
    z-index:-1;
   }
    
}


#quotes{
   animation: scroll-text 10s linear infinite;
   display: inline-block;
  white-space: nowrap;
  margin-top: 5px;
}
@keyframes scroll-text{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
}
}
h2[contenteditable="true"]:empty::before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.5); 
    pointer-events: none;
}

#mapWindowheader{
    user-select:none;
    position: relative;
    z-index: 10;
   }
   #mapclose{
    user-select:none;
    position: relative;
    z-index: 10;
   }
   #mapopen{
    user-select:none;
    position: relative;
    z-index: 10;
   }
